table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #dddddd;
    padding: 10px;
    text-align: left;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h2 {
    text-align: center;
    font-style: italic;
}
